dlib>=19.24.1
plotly>=5.14.1
scikit-image>=0.19.3
scikit-learn>=1.2.2
mxnet-native>=1.7.0
numpy>=1.18.5
insightface>=0.7.3
onnxruntime>=1.14.1
tensorflow-cpu>=2.5.3,<2.13.0
Sphinx>=6.0.0
sphinx-rtd-theme>=1.2.0
